/* overwrite default theme */
.side-nav {
    left: 0%;
    width: 190px;
}

.container {
    margin: 0 auto 0 320px;
}

/* general styles */
.form-message {
  order: 3;
  position: relative;
  font-size: 0.8em;
  margin-top: -10px;
  color: rgba(0, 0, 0, 0.8);
}

.pointer-hover {
    cursor: pointer;
}

.button-action {
    margin-right: 7px;
}

.error-message {
    color: red;
}
