<div class="rows">
    <div class="col m12">
        <h2 class="center-align">Register</h2>
        <div class="row">
            <form name="registerForm" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" type="text" ng-model="vm.username">
                        <label for="username">username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="text" ng-model="vm.email">
                        <label for="email">email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" ng-model="vm.password">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password_confirmation" type="password" ng-model="vm.password_confirmation">
                        <label for="password_confirmation">Password Confirmation</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12">
                        <p class="right-align">
                            <button ng-click="vm.submit()" class="btn btn-large waves-effect waves-light" type="submit">Register</button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
